<h1 class="font-weight-bold display-3">Rails with Vite.js</h1>

<p class="text-muted">This demo is build with <a href="https://rubyonrails.org/">Rails</a> and <a href="https://vitejs.dev/">Vite.js</a>.</p>
<p class="text-muted">Why this project? Find out more on <a href="https://github.com/guillaumebriday/rails-vitejs">Github</a>.</p>

<span id="js-content"></span>
